* {
    margin: 0;
}

body {
    background-color: rgb(37, 36, 36);
    font-family: 'Exo 2' sans-serif;
    display: block;
}
.wrap {
    display: block;
    width: 350px;
    height: 450px;
    background-color: rgb(29, 16, 16);
    padding-left: 350px;
    padding-right: 150px;
    padding-top: 100px;
    margin: 230px auto;       
}
img {
    width: 300px;
    height: 350px;
    position: absolute;
    left: 250px;
    right: 30px;
}    
.name {
    display: block;
    width: 300px;
    height: 180px;
    background-color: black;
    position: relative;   
    top: 150px; 
    right: 340px;
}
p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    color: aliceblue;
}
.menu {
    width: 500px;
    height: 350px;
    background-color:aliceblue;
    position: absolute;
    left: 550px;
    top: 330px;
    margin-top: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: baseline;
}
h3 {
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
    color:black;
}
.blog-1 {
    display: block;
    width: 200px;
    height: 100px;
    border-bottom: 2px solid;
    border-bottom-color: gray;
}
.ofer {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color:black;
}

.price {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color:black;
}

.blog-2 {
    display: block;
    width: 200px;
    height: 100px;
    border-bottom: 2px solid;
    border-bottom-color: gray;
    float: left;
}
.button {
    display: inline-block;
    width: 100px;
    height: 70px;
    border: 1px solid #000;
    color: white;
    text-transform: uppercase;
    background-color: #000;
    float: right;
}      