* {
    margin: 0;
}

body {
    background-color: rgb(37, 36, 36);
    font-family: 'Exo 2' sans-serif;
    display: block;
}
.wrap {
    display: block;
    width: 350px;
    height: 450px;
    background-color: rgb(29, 16, 16);
    padding-left: 350px;
    padding-right: 150px;
    padding-top: 100px;
    margin: 230px auto;
       
}

img {
    width: 300px;
    height: 350px;
    position: absolute;
    left: 250px;
    right: 30px;
   }    
.name {
    display: block;
    width: 300px;
    height: 180px;
    background-color: black;
    position: relative;   
    top: 150px; 
    right: 340px;
  
}
p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    color: aliceblue;
}
.menu {
    width: 500px;
    height: 350px;
    background-color:aliceblue;
    position: absolute;
    left: 550px;
    top: 330px;
    margin-top: 0;
    display: block;
  
}
.menu-1 {
    width: 100px;
    height: 0;
    background-color:aliceblue;
    position: absolute;
    display: grid;
    padding-left: 10px;

         
}
.menu-2 {
    width: 100px;
    height: 0;
    background-color:aliceblue;
    position: absolute;
    display: block;
    padding-left: 250px;

            
}
.tema {
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
    color:black;
}
.blog {
    display: block;
    width: 200px;
    height: 100px;
    border-bottom: 2px solid;
    border-bottom-color: gray;
   }
.ofer {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color:black;
}

.price {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color:black;
}

.blog-2 {
    display: block;
    width: 200px;
    height: 100px;
    border-bottom: 2px solid;
    border-bottom-color: gray;
    float: left;
    }
  
a {
    position: absolute;
    display: block;
    bottom: 35px;
    right: 80px;
    height: 30px;
    max-width: 175px;
    padding: 18px 35px;
    text-decoration: none;
    font-weight: 900;
    font-size: 17px;
    background-color: #000;
    color: #fff;
  }
  
  a:hover {
    border-radius: 10px;
    color: #fdca19;
  }    